# Node / Next.js
node_modules
.next
out

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

ROADMAP.md

# OS / editor
.DS_Store
.idea/
.vscode/

# Build artifacts
dist/
build/
.test-dist/

#JSON Credentials
recipe-ai-text-parser-626cd20db194.json
